name: Deploy CDK
#  BEWARE THIS LAUNCHES MACHINES ON AWS - expose on push to do so
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - run: npm install
      - run: npm run build --if-present
      - name: Spin up test server
        run: npm start &
      - run: npm test
      - name: Deploy
        uses: udondan/cdk-nodejs@v18.12.1
        with:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
